DESKTOP-AJU6QA3-md5-hashes.txt
DESKTOP-AJU6QA3-sha1-hashes.txt
DESKTOP-AJU6QA3-sha256-hashes.txt
hasher.py
hashes.txt
requirements.txt
sample.py
testVT.py
version.txt
SampleFolder/A.txt
SampleFolder/fciv.exe
config-dev.ini
.gitignore
